.main-chat
  .main-chat__group-info
    .main-chat__group-info__left
      .main-chat__group-info__left__name
        = @group.name
      .main-chat__group-info__left__members
        Member：#{@members}
    = link_to edit_group_path(@group.id), class: "main-chat__group-info__right" do
      Edit
  .main-chat__messages
    = render @messages
  .main-chat__message-form
    .main-chat__message-form__inputbox
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: "main-chat__message-form__inputbox__text", placeholder: "type a message"
        .main-chat__message-form__inputbox__file
          = f.label :image, class: 'main-chat__message-form__inputbox__file__image' do
            = icon('fas', 'image', class: 'main-chat__message-form__inputbox__file__icon')
            = f.file_field :image, class: 'main-chat__message-form__inputbox__file__label'
        = f.submit 'Send', class: 'main-chat__message-form__inputbox__btn'
